<div class="header row">
  <div class="col-12">

    <img [src]=logo alt="">
    <marquee>
      <p>Partage Votre Romans</p>
    </marquee>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Anonces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form-Annonce">Ajoutez nouvel Annonce</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Choisir par Categories
          </a>
        </li>
      </ul>
      <form class="d-flex ms-auto">
        <input class="form-control me-2" type="search" placeholder="Search...." aria-label="Search" [(ngModel)]="term"
          (keyup)="doSearch()">
        <button class="btn btn-outline-success" type="submit"> Search </button>
        <ul *ngIf="results.length">
          <li *ngFor="let item of results">{{item.title}}</li>
        </ul>
      </form>

    </div>
  </div>
</nav>
<hr>
