
  img{
    height: 100px;
    width: 100px;
    border-radius: 60%;
  }
  marquee{
    color: blue;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
  }
