<div *ngIf="annonce">
  <ng-container *ngIf="!editing">
    <h1>{{annonce.title}}</h1>
    <img src="http://localhost:8000//uploads/{{annonce.image}}">
    <p>Description: {{annonce.description}}</p>
    <p>Date de la publishe: {{annonce.dateA |date:'dd/MM/yyyy'}}</p>
    <p>Categorie: {{annonce.categorie}}</p>
    <p>Statue: {{annonce.statueA}}</p>
    <p>le Owner: {{annonce.utilisateur?.name}}</p>

    <button (click)="editing = true"  class="btn btn-warning">Edit</button>
  <button (click)="Delete(annonce.id)" class="btn btn-danger">Delete</button>


  </ng-container>

  <app-form-annonce *ngIf="editing" [annonce]="annonce" />
</div>

<div *ngIf="!annonce">
  Loading...
</div>
