<div class="row">
  <div class="card h-50 rounded col-3" *ngFor="let user of user">
    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/9131/9131529.png"
      alt="Card image cap">{{user.id}}
    <div class="card-body">
      <h5 class="card-title text-">{{user.name}}</h5>
      <p class="card-text">{{user.address}}</p>
      <p class="card-text">Telephone: {{user.telephone}}</p>
      <a routerLink="/single-user/{{user.id}}" class="btn btn-primary">Ses Annonces</a>
    </div>
  </div>
